*{
    padding:0;
    margin:0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    font-size: 2.5rem;
    font-family: 'Monoton', cursive;
    color:white;
}
header h1{
    margin-top:3rem;
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	text-transform: uppercase;	
	font-weight: 400;
}
nav{
    display: flex;
    justify-content: right;
    margin-right:2rem;
}
body{
    background: rgb(115,5,5);
    background: radial-gradient(circle, rgba(115,5,5,1) 0%, rgba(42,0,0,1) 100%);
    color: black;
  
}
article{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
/* FORM STYLE */
input::placeholder{
    font-family:  'Poppins', sans-serif;
    font-size: 16px;
    color: rgb(0, 0, 0);
}
input{
    width: 10rem;
    border: none;
    padding: 10px 20px;
    background-color: #f0f0f32d;
}
#form{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border: dotted 12px;
    border-color: #ffecb3;
    box-shadow:
    inset 0 0 50px #fff,    
    inset 20px 0 80px rgb(122, 23, 23),  
    inset -20px 0 80px rgb(122, 23, 23),  
    inset 20px 0 300px rgb(250, 222, 198),  
    inset -20px 0 300px rgb(245, 211, 181), 
    0 0 50px #fff,        
    -10px 0 80px rgb(120, 26, 26),      
    10px 0 80px rgb(80, 11, 11);       
    width: 20rem;
}
#release-date{
    width: 10rem;
    border:none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
    text-transform: uppercase;
}

#save-movie{
    width: 11rem;
    border:none;
    background: #F0F0F3;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 1rem;
    filter:drop-shadow(8px 8px 5px black)
}
button{
    width: 10rem;
    border:none;
    background: #F0F0F3;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 1rem;
    filter:drop-shadow(8px 8px 5px black)
    
}
button:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    filter:drop-shadow(8px 8px 5px rgb(103, 103, 103));
    cursor:pointer;
}
#save-movie:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    filter:drop-shadow(8px 8px 5px rgb(103, 103, 103));
    cursor:pointer;
}
#movieWatch{
    text-transform: uppercase;
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: flex-start;

}
#movieWant{
    display: flex;
    align-items: flex-start;
}
#listofmovies{
    text-transform: uppercase;
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    
} 
#watchedMovies{
    text-transform: uppercase;
    border-radius: -15px -15px -15px -15px;
    background: rgb(198,180,122);
    background: linear-gradient(90deg, rgba(198,180,122,1) 0%, rgba(254,235,195,0.486453956582633) 48%, rgba(198,180,122,1) 100%);
    color:color;
    max-width: 15rem;
    
}
section{
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    background-color: white;
    width: 25rem;
    height: 20rem;
    box-shadow: 0 0 4px 3px rgb(140, 138, 138);
    text-align: center;
    margin-bottom: 1em;
    color:black;
}
li{
    list-style: none;
    border: dotted 7px;
    border-color: #ffecb3;
    padding: 1rem; 
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}

div{
    display: flex;
    gap: 1rem;
}
/* ━━━━━━━━━━| FAVORITE MOVIE SLIDER|━━━━━━━━━━ */
.sliderShowMovies {
    position: absolute;
    padding: 3rem;
    top: 0;
    right:0;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transform: scaleY(0);
    transition: all 0.3s ease;
    z-index: 1;
}
.sliderShowMovies.show {
    transform: translateX(0);
    background: rgb(115,5,5);
    background: radial-gradient(circle, rgba(115,5,5,1) 0%, rgba(42,0,0,1) 100%);
    color:white;
    border: 4px solid #f0f0f32d;
    overflow: scroll;
}
.sliderShowMovies h2{
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  /* ━━━━━━━━━━| WATCHED MOVIE SLIDER |━━━━━━━━━━ */
  .sliderShowWatchedMovies {
    position: absolute;
    padding: 3rem;
    top: 0;
    left: 0;
    height:  100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transform: scaleY(0);
    transition: all 0.3s ease;
    z-index: 1;
  }
  .sliderShowWatchedMovies.show {
    transform: translateX(0);
    background: rgb(115,5,5);
    background: radial-gradient(circle, rgba(115,5,5,1) 0%, rgba(42,0,0,1) 100%);
    color: white;
    border: 4px solid #f0f0f32d;
    overflow: scroll;
  }
  .sliderShowWatchedMovies h2{
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* SEARCH INPUT STYLING */
  #styleInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #searchInfo {
    text-transform: uppercase;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap:2rem;
    border: dotted 12px;
    border-color: #ffecb3;
    box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px rgb(122, 23, 23),  
    inset -20px 0 80px rgb(122, 23, 23), 
    inset 20px 0 300px rgb(250, 222, 198),  
    inset -20px 0 300px rgb(245, 211, 181), 
    0 0 50px #fff,          
    -10px 0 80px rgb(120, 26, 26),      
    10px 0 80px rgb(80, 11, 11);        
    width: 20rem;
    padding: 3rem;
    color:black;
  }
  #search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 40px;
    padding: 1rem;
    border-radius: 0; 
    background-color: #f0f0f32d;
}
 #search{
    margin-bottom: 2rem;
    width: 9rem;
    border:none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 18px;
    position: absolute;
}
  