*{
    padding:0;
    margin:0;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    font-size: 2.5rem;
    font-family: 'Monoton', cursive;
    color:white;
}
header h1{
    margin-top:3rem;
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	text-transform: uppercase;	
	font-weight: 400;
}

figure{
    background-color: black;
}
nav{
    display: flex;
    justify-content: right;
    margin-right:2rem;
}
body{
    background-color: rgb(239, 223, 185);
    color: black;
}
article{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
#title{
    width: 10rem;
    border: none;
    padding: 10px 20px;
}
#genre{
    width: 10rem;
    border:none;
    padding: 10px 20px;
}
#release-date{
    width: 10rem;
    border:none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px;
}
#search{
    margin-bottom: 2rem;
    width: 9rem;
    border:none;
    font-family: 'Poppins', sans-serif;
    padding: 10px 18px;
    border-radius: 50px;
}
#save-movie{
    width: 10rem;
    border:none;
    background: #F0F0F3;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 1rem;
    filter:drop-shadow(8px 8px 5px black)
}
button{
    width: 10rem;
    border:none;
    background: #F0F0F3;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    margin-bottom: 1rem;
    filter:drop-shadow(8px 8px 5px black)
}
#save-movie:hover{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    filter:drop-shadow(8px 8px 5px rgb(103, 103, 103));
    cursor:pointer;
}
#movieWatch{
    display: flex;
    align-items: flex-start;
    overflow: scroll;
}
/* #searchPrint{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
} */
#movieWant{
    display: flex;
    align-items: flex-start;
    overflow: scroll;
}

#listofmovies{
    text-transform: uppercase;
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
   
} 
#watchedMovies{
    text-transform: uppercase;
    
}
#search-btn{
    width: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchResult{
    background-color: #3a2c0f;
    width: 400px;
    height: 200px;
}

section{
    font-family: 'Poppins', sans-serif;
    margin-top: 3rem;
    background-color: white;
    width: 25rem;
    height: 20rem;
    box-shadow: 0 0 4px 3px rgb(140, 138, 138);
    text-align: center;
    margin-bottom: 1em;
    color:black;
}
li{
    list-style: none;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:3rem;
}
#titleInfo{
    font-size: 22px;
}
.fa-sharp{
    color:rgb(101, 176, 101);
}

.fa-eye{
    color: rgb(147, 189, 255);
}
.fa-eye:hover{
    color: rgb(102, 156, 243);
}

/* ━━━━━━━━━━| Movies i want to watch |━━━━━━━━━━ */
.sliderShowMovies {
    position: absolute;
    top: 2rem;
    right:0;
    height: 100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    transform: scaleY(0);
    transition: all 0.3s ease;
    z-index: 1;
  }
  .sliderShowMovies.show {
    transform: translateX(0);
    background-color: rgb(0, 0, 0);
    color:white;
  }
  .sliderShowMovies h2{
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
 
  /* ━━━━━━━━━━| Watched movies |━━━━━━━━━━ */
  .sliderShowWatchedMovies {
    position: absolute;
    top: 2rem;
    left: 0;
    height:  100vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    transform: scaleY(0);
    transition: all 0.3s ease;
    z-index: 1;
  }
  .sliderShowWatchedMovies.show {
    transform: translateX(0);
    background-color: rgba(0, 0, 0, 0.96);
    color: white;
  }
  .sliderShowWatchedMovies h2{
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #searchInput{
    background-color: blue;
    width: 100px;
    height: 100px;
  }